body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  max-width: 100px;
  margin: 15px auto;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
.item {
  padding: 10px;
  border-radius: 4px;
}

.masonry-container {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow: auto;
}

.toolbar {
  padding: 10px;
  text-align: center;
  height: 80px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.btn {
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  outline: none;
  box-shadow: 0px 0px 0px 0px #d2d2d2;
  margin: 0 2px;
}

.section {
  display: inline-flex;
  flex: 1 0 auto;
  padding: 5px;
  border: 1px solid #d2d2d2;
  min-height: 40px;
  align-items: center;
  width: auto;
  min-width: 150px;
}
input[type='number'] {
  width: 50px;
}

@media (max-width: 1440px) {
  .section {
    flex-direction: column;
    height: 70px;
  }
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}
